In [1]:
import requests
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import json

# Работа с [API Metropolitan Museum of Art](https://metmuseum.github.io/)

Информация по департаментам

In [2]:
request = requests.get(f'https://collectionapi.metmuseum.org/public/collection/v1/departments')
r_json = request.json()
r_json['departments']

[{'departmentId': 1, 'displayName': 'American Decorative Arts'},
 {'departmentId': 3, 'displayName': 'Ancient Near Eastern Art'},
 {'departmentId': 4, 'displayName': 'Arms and Armor'},
 {'departmentId': 5,
  'displayName': 'Arts of Africa, Oceania, and the Americas'},
 {'departmentId': 6, 'displayName': 'Asian Art'},
 {'departmentId': 7, 'displayName': 'The Cloisters'},
 {'departmentId': 8, 'displayName': 'The Costume Institute'},
 {'departmentId': 9, 'displayName': 'Drawings and Prints'},
 {'departmentId': 10, 'displayName': 'Egyptian Art'},
 {'departmentId': 11, 'displayName': 'European Paintings'},
 {'departmentId': 12, 'displayName': 'European Sculpture and Decorative Arts'},
 {'departmentId': 13, 'displayName': 'Greek and Roman Art'},
 {'departmentId': 14, 'displayName': 'Islamic Art'},
 {'departmentId': 15, 'displayName': 'The Robert Lehman Collection'},
 {'departmentId': 16, 'displayName': 'The Libraries'},
 {'departmentId': 17, 'displayName': 'Medieval Art'},
 {'departmentId': 18, 'displayName': 'Musical Instruments'},
 {'departmentId': 19, 'displayName': 'Photographs'},
 {'departmentId': 21, 'displayName': 'Modern Art'}]

_Посмотрим на произведения с подсолнухами_

In [3]:
def get_art_ids(
    search_request,
    departmentId=0
):
    '''
    Функция выдаёт список id произведений, удовлетворяющих текстовому запросу и департаменту
    
    Parameters
    ----------
    search_request: str
        Запрос для произведения искусства
    departmentId: int, default 0
        Номер департамента
            
    
    Returns
    -------
    art_ids: list
        Список id нужных произведений
    '''
    if departmentId != 0:
        request = requests.get(f'https://collectionapi.metmuseum.org/public/collection/v1/search?departmentId={departmentId}&q={search_request}')
    else:   
        request = requests.get(f'https://collectionapi.metmuseum.org/public/collection/v1/search?q={search_request}')
    r_json = request.json()
    art_ids = r_json['objectIDs']
    
    return art_ids

In [4]:
search_request = 'sunflower'
art_ids = get_art_ids(search_request)

In [5]:
art_ids

[485308,
 822590,
 437112,
 707887,
 436524,
 363282,
 360837,
 210191,
 11922,
 2032,
 400581,
 367817,
 20141,
 2019,
 347980,
 480725,
 208554,
 437115,
 207869,
 486590,
 375281,
 705155,
 484935,
 423400,
 343052,
 223828,
 682927,
 57922,
 79739,
 193938,
 339347,
 649813,
 626832,
 208218,
 202228,
 437984,
 436534,
 761604,
 696949,
 704667,
 822589,
 437329,
 207753,
 701016,
 822570,
 816522,
 487043,
 203893,
 436580,
 436252,
 437526,
 367434,
 190739,
 431264,
 423237,
 397949,
 262423,
 403496,
 895564,
 13644,
 656530,
 18362,
 820022,
 648617,
 761731,
 814626,
 892559,
 207967,
 262430,
 262428,
 841928,
 839296,
 205386,
 262378,
 707697,
 436535,
 426804,
 633526,
 369073,
 747779,
 436529,
 852414,
 427872,
 436530,
 724844,
 436144,
 436121,
 437980,
 631808,
 834580,
 834585,
 834765]

Сбор информации по произведениям

In [6]:
def get_art_info(art_ids):
    '''
    Функция выводит информацию по произведениям с указанными id
    
    Parameters
    ----------
    art_ids: list
        Список id произведений
    
    Returns
    -------
    df: pandas.DataFrame
        df с информацией по произведениям
    '''
    df = pd.DataFrame([])
    for cur_id in art_ids:
        request_url = f'https://collectionapi.metmuseum.org/public/collection/v1/objects/{cur_id}'
        request = requests.get(request_url)
        r_json = request.json()
        cur_df = pd.json_normalize(r_json)
        df = pd.concat([df, cur_df], axis='index')
    return df

In [7]:
df = get_art_info(art_ids)
df = df[['objectID', 'title', 'artistDisplayName', 'department', 'objectBeginDate', 'objectEndDate', 'period', 'objectName', 'culture']]

In [8]:
df.head()

,objectID,title,artistDisplayName,department,objectBeginDate,objectEndDate,period,objectName,culture
0,485308.0,Sunflower,Joan Mitchell,Modern and Contemporary Art,1969.0,1969.0,,Painting,
0,822590.0,Sunflower,Brigitte Coudrain,Drawings and Prints,1950.0,1975.0,,Print,
0,437112.0,Bouquet of Sunflowers,Claude Monet,European Paintings,1881.0,1881.0,,Painting,
0,707887.0,Botanical dish with white sunflower,Chelsea Porcelain Manufactory,European Sculpture and Decorative Arts,1750.0,1760.0,,Dish,
0,436524.0,Sunflowers,Vincent van Gogh,European Paintings,1887.0,1887.0,,Painting,

In [9]:
df.shape

(92, 9)

_Информация по азиатским кошкам_

In [10]:
art_ids = get_art_ids(
    search_request='cat',
    departmentId=6
)

In [11]:
asian_cats_df = get_art_info(art_ids)

In [12]:
asian_cats_df = asian_cats_df[
    ['objectID', 
     'title', 
     'artistDisplayName', 
     'department', 
     'objectBeginDate', 
     'objectEndDate', 
     'period', 
     'objectName', 
     'culture']
]

In [13]:
asian_cats_df.head()

,objectID,title,artistDisplayName,department,objectBeginDate,objectEndDate,period,objectName,culture
0,49698,Cat,Zhang Yuguang,Asian Art,1900,1968,,Folding fan mounted as an album leaf,China
0,49470,Cat,Wang Li,Asian Art,1813,1879,Qing dynasty (1644–1911),Hanging scroll,China
0,53222,Musk Cat,Uto Gyoshi,Asian Art,1550,1599,Muromachi period (1392–1573),Hanging scroll,Japan
0,36221,Cat,Wang Yun,Asian Art,1900,1933,,Hanging scroll,China
0,60873,Head ornament,,Asian Art,960,1279,Song dynasty (960–1279) or later,Head ornament,China

In [14]:
asian_cats_df.shape

(3180, 9)

_Периоды по количеству работ_

In [15]:
(
asian_cats_df
    .value_counts('period')
    .sort_values(ascending=False)
)

period
Edo period (1615–1868)                          1214
                                                 468
Ming dynasty (1368–1644)                         187
Qing dynasty (1644–1911)                         155
Muromachi period (1392–1573)                      97
                                                ...
Yuan (1271–1368) to Ming (1368–1644) dynasty       1
Yuan (1271–1368) or Ming dynasty (1368–1644)       1
Yuan (1271–1368)                                   1
Yayoi period (ca. 300 BCE–ca. 400 CE)              1
style of the Tang dynasty (618–907)                1
Length: 214, dtype: int64

Inpired by: KCM2L7MP2